.styled-button {
  background-color: #2972fa;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  height: 2rem;
  width: 100%;
  padding-inline: 10px;
  color: #ffffff;
}

.styled-button-disabled {
  background-color: #e5e5e5;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;

  height: 2rem;
  width: 100%;
  padding-inline: 10px;
  color: #a8a8a8;
}
