html {
  background-color: #222222;
  text-align: center;
  color: white;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  color: white;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("assets/fonts/Inter-Bold.ttf");
}

#app {
  height: 100vh;
  text-align: center;
}
